<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Generator</title>
  <link rel="stylesheet" href="stylesheets/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/generaotr.css">
</head>

<header class="w-100 d-flex  align-items-center "
  style="height:80px; background-color: rgba(44, 45, 43, 0.68);color:rgb(255, 255, 255);">
  <div class="fs-3">
    <div>
      Random Password Generator
    </div>
  </div>
</header>

<body style="background-color: rgb(20, 24, 39);">
  {{{body}}}

  <script src="javascripts/validation.js"></script>
  <script src="javascripts/bootstrap.js"></script>
  <script src="https://kit.fontawesome.com/b8c58f1933.js" crossorigin="anonymous"></script>
</body>

</html>