<div class="container w-75 my-5 p-3 rounded-2" style="background-color: rgb(251, 251, 251);">
  <div class="row  ">
    <span>
      <h3 class="title">Random Password Generator     <i class="fas fa-key"></i></h3>
      
    </span>
  </div>
  <hr>
  <div class="container">
    <form id="dataForm" name="checkItems" action="/generator" method="post" class="needs-validation" novalidate>

      <div class="input-group mb-3 row g-0 my-4">
        <div class="col-4">
          <span class="input-group-text" id="basic-addon3">Password Length</span>
        </div>
        <div class="col">
          <input type="number" max="16" min="4" required name="length" value="{{data.length}}" class="form-control"
            placeholder="請輸入數字" aria-describedby="basic-addon3">
          <label for="basic-url" class="form-label ">
            <div style="font-size:0.8rem;">Length is available between 4-16</div>
          </label>
          <div class="valid-feedback"></div>
          <div class="invalid-feedback"></div>
        </div>

      </div>

      <div class="form-check mb-4  ">
        <div class="row ">
          <div class="col-4">
            <label class="form-check-label" for="flexCheckDisabled">
              include Lowercase Characters
            </label>
          </div>
          <div class="col-2">
            <input class="form-check-input" type="checkbox" name="lowercase" {{#if data.lowercase}} checked{{/if}}>
            (e.g. abcdef)
          </div>
        </div>
      </div>

      <div class="form-check mb-4 ">
        <div class="row ">
          <div class="col-4">
            <label class="form-check-label" for="flexCheckDisabled">
              include Uppercase Characters
            </label>
          </div>
          <div class="col-2">
            <input class="form-check-input" type="checkbox" name="uppercase" {{#if data.uppercase}} checked{{/if}}>
            (e.g. ABCDEF)
          </div>
        </div>
      </div>
      <div class="form-check mb-4  ">
        <div class="row ">
          <div class="col-4">
            <label class="form-check-label" for="flexCheckDisabled">
              include Numbers
            </label>
          </div>
          <div class="col-2">
            <input class="form-check-input" name="number" type="checkbox" {{#if data.number}} checked{{/if}}>
            (e.g. 123456)
          </div>
        </div>
      </div>
      <div class="form-check mb-4 ">
        <div class="row ">
          <div class="col-4">
            <label class="form-check-label" for="flexCheckDisabled">
              include symbols
            </label>
          </div>
          <div class="col-2">
            <input class="form-check-input" type="checkbox" name="symbols" {{#if data.symbols}} checked{{/if}}>
            (e.g.@#$%^)
          </div>
        </div>
      </div>

      <div class="input-group mb-2 row g-0">
        <div class="col-4">
          <span class="input-group-text" id="basic-addon3">Exclude Characters</span>
        </div>
        <div class="col">
          <input type="text" class="form-control" name="exclude" value="{{data.exclude}}"
            aria-describedby="basic-addon3">
          <label for="basic-url" class="form-label fs-6">
            <div style="font-size: 0.8rem;">These Characters will not appear in the password</div>
          </label>
        </div>
      </div>
      <button id="submitButton" type="submit" class="btn btn-primary btn-lg">Generate Password
      </button>
    </form>
  </div>

  <hr>
  {{#if password}}
  <div class="p-3 mb-2 bg-info text-dark fw-bold rounded-2 fs-5" id="showPassword">your password is : {{password}} </div>
  {{/if}}
</div>